body {
    margin: 0;
    padding: 0;
    background-image: url(assets/universe.gif);
    background-size: 100%;
}

.sun {
    height: 120px;
    width: 120px;
    background-image: url(assets/sun.png);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-size: cover;
    box-shadow: -4px 2px 40px #f9c05f;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.mercury {
    height: 20px;
    width: 20px;
    /*background: radial-gradient(circle, #807a72 40%, #68696d 75%);
    */background-image: url(assets/mercury.gif);
    background-size: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 40px #6e6961;
    top: 43%;
    left: 42%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    animation: orbit-mercury 4s linear infinite;
    -webkit-animation: orbit-mercury 4s linear infinite;
}

@keyframes orbit-mercury {
    from { 
        transform: rotate(0deg) translateX(70px) rotate(0deg);
        -webkit-transform: rotate(0deg) translateX(70px) rotate(0deg); 
        -moz-transform: rotate(0deg) translateX(70px) rotate(0deg); 
        -ms-transform: rotate(0deg) translateX(70px) rotate(0deg); 
        -o-transform: rotate(0deg) translateX(70px) rotate(0deg); 
    }
    to {
        transform: rotate(360deg) translateX(70px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translateX(70px) rotate(-360deg);
        -moz-transform: rotate(360deg) translateX(70px) rotate(-360deg);
        -ms-transform: rotate(360deg) translateX(70px) rotate(-360deg);
        -o-transform: rotate(360deg) translateX(70px) rotate(-360deg);
    }
}

p {
    color: white;
    font-family: system-ui;
    position: absolute;
    left: -62px;
    top: -15px;
}

.mercury-outline, .venus-outline-1, .earth-outline-1, .mars-outline-1, .jupiter-outline-1, .saturn-outline-1, .uranus-outline-1, .neptune-outline-1 {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px dotted #ddd9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mercury-outline {
    height: 140px;
    width: 140px;
}

.venus {
    height: 40px;
    width: 40px;
    background-image: url(assets/venus.gif);
    background-size: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 40px #f9c05f;
    top: 40%;
    left: 42%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    animation: orbit-venus 10s linear infinite;
    -webkit-animation: orbit-venus 10s linear infinite;
}

@keyframes orbit-venus {
    from {
        transform: rotate(0deg) translateX(100px) rotate(0deg);
        -webkit-transform: rotate(0deg) translateX(100px) rotate(0deg);
        -moz-transform: rotate(0deg) translateX(100px) rotate(0deg);
        -ms-transform: rotate(0deg) translateX(100px) rotate(0deg);
        -o-transform: rotate(0deg) translateX(100px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(100px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg);
        -moz-transform: rotate(360deg) translateX(100px) rotate(-360deg);
        -ms-transform: rotate(360deg) translateX(100px) rotate(-360deg);
        -o-transform: rotate(360deg) translateX(100px) rotate(-360deg);
    }
}

.venus-outline-1 {
    height: 200px;
    width: 200px;
}

.earth {
    height: 50px;
    width: 50px;
    background-image: url(assets/earth.gif);
    background-size: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 40px #39a4fc;
    top: 44%;
    left: 43%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    animation: orbit-earth 20s linear infinite;
    -webkit-animation: orbit-earth 20s linear infinite;
}

@keyframes orbit-earth {
    from {
        transform: rotate(0deg) translateX(150px) rotate(0deg);
        -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg);
        -moz-transform: rotate(0deg) translateX(150px) rotate(0deg);
        -ms-transform: rotate(0deg) translateX(150px) rotate(0deg);
        -o-transform: rotate(0deg) translateX(150px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(150px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg);
        -moz-transform: rotate(360deg) translateX(150px) rotate(-360deg);
        -ms-transform: rotate(360deg) translateX(150px) rotate(-360deg);
        -o-transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}

.earth-outline-1 {
    height: 300px;
    width: 300px;
}

.earth-circle {
    height: 65px;
    width: 65px;
    border: 1px dotted #fff;
    position: relative;
    left: -8px;
    top: -8px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.earth-inner {
    height: 15px;
    width: 15px;
    background-image: url(assets/moon.gif);
    background-size: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    left: 40%;
    top: 40%;
    animation: orbit-earth-moon 3s linear infinite;
    -webkit-animation: orbit-earth-moon 3s linear infinite;
}

@keyframes orbit-earth-moon {
    from {
        transform: rotate(0deg) translateX(35px) rotate(0deg);
        -webkit-transform: rotate(0deg) translateX(35px) rotate(0deg);
        -moz-transform: rotate(0deg) translateX(35px) rotate(0deg);
        -ms-transform: rotate(0deg) translateX(35px) rotate(0deg);
        -o-transform: rotate(0deg) translateX(35px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(35px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translateX(35px) rotate(-360deg);
        -moz-transform: rotate(360deg) translateX(35px) rotate(-360deg);
        -ms-transform: rotate(360deg) translateX(35px) rotate(-360deg);
        -o-transform: rotate(360deg) translateX(35px) rotate(-360deg);
    }
}

.mars {
    height: 30px;
    width: 30px;
    background-image: url(assets/mars.gif);
    background-size: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 40px #e9a42c;
    top: 46.5%;
    left: 46.5%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    animation: orbit-mars 30s linear infinite;
    -webkit-animation: orbit-mars 30s linear infinite;
}

@keyframes orbit-mars {
    from {
        transform: rotate(0deg) translateX(200px) rotate(0deg);
        -webkit-transform: rotate(0deg) translateX(200px) rotate(0deg);
        -moz-transform: rotate(0deg) translateX(200px) rotate(0deg);
        -ms-transform: rotate(0deg) translateX(200px) rotate(0deg);
        -o-transform: rotate(0deg) translateX(200px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(200px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translateX(200px) rotate(-360deg);
        -moz-transform: rotate(360deg) translateX(200px) rotate(-360deg);
        -ms-transform: rotate(360deg) translateX(200px) rotate(-360deg);
        -o-transform: rotate(360deg) translateX(200px) rotate(-360deg);
    }
}

.mars-outline-1 {
    height: 400px;
    width: 400px;
}

.jupiter {
    height: 65px;
    width: 65px;
    background-image: url(assets/jupiter.gif);
    background-size: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 40px #ffce46;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    animation: orbit-jupiter 60s linear infinite;
    -webkit-animation: orbit-jupiter 60s linear infinite;
}

@keyframes orbit-jupiter {
    from {
        transform: rotate(0deg) translateX(265px) rotate(0deg);
        -webkit-transform: rotate(0deg) translateX(265px) rotate(0deg);
        -moz-transform: rotate(0deg) translateX(265px) rotate(0deg);
        -ms-transform: rotate(0deg) translateX(265px) rotate(0deg);
        -o-transform: rotate(0deg) translateX(265px) rotate(0deg);
}
    to {
        transform: rotate(360deg) translateX(265px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translateX(265px) rotate(-360deg);
        -moz-transform: rotate(360deg) translateX(265px) rotate(-360deg);
        -ms-transform: rotate(360deg) translateX(265px) rotate(-360deg);
        -o-transform: rotate(360deg) translateX(265px) rotate(-360deg);
}
}

.jupiter-outline-1 {
    height: 530px;
    width: 530px;
}